＊{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:"Helvetica Neue", Arial, sans-serif
  color: #333;
}

.container{
  width:1100px;
  margin:0 auto;
}

/＊ ==== ヘッダー　==== ＊/

.header{
  background: #fff;
  padding: 20px 0;
}

.header-inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  font-size: 22px;
  font-weigt: bold;
  color: #f39800;
}

.nav ul{
  display: flex;
  list-style:none;
  gap: 30px;
  font-size:14px;
}

.header-btn{
  background: #f39800;
  color: #fff;
  padding: 10px 18px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 14px;
}

/＊ ==== ヒーロー ==== ＊/

.hero{
  background: #f7f7f7;
  padding: 80px 0;
}

.hero-inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-text h2 {
  font-size: 36px;
  line-height: 1.6;
  margin-bottom: 30px
}

.main-btn{
  display:inline-block;
  background: #f39800;
  color: #fff;
  padding: 15px 30px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 20px
}

.note{
  font-size: 12px;
  color: #888;
}

.hero-image{
  position:relative;
}

.hero-image img{
  width: 450px;
  border-radius: 20px;
}

.badge{
  position:absolute;
  top: 20px;
  left: -40px;
  background: #f39800;
  color: #fff;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
}

.badge span{
  font-size: 28px;
  font-weight: bold;
}  
